@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Lato&family=Raleway&display=swap');
@import "reset.css";

body {
    background-color: red;
    font-family: 'Raleway', sans-serif;
}

nav {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

#blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

#blog article {
    width: 50%;
    margin-top: 2rem;
}

@media (max-width: 1024px) {
    #blog article {
    width: 85%;
    }
}

.post-title {
    text-color: black;
    display: flex;
    align-items: center;
    color: red;
}

.post-title a {
    color: steelblue;
    text-decoration: none;
    margin-left: 5rem;
}

.post-title h2 {
    color: black;
}

.post-title a:last-child {
    color: red;
}

.post-title > div {
    margin-left: auto;
}

.post-author {
margin: .5rem 0;
}

.post-excerpt {
    margin-bottom: 1rem;
}

.post-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

post.detail > h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

input, textarea {
    display: block;
    padding: .75 rem;
    line-height: 1.5;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    min-width: 600px;
}

label {
    display: inline-block;
    box-sizing: border-box;
    margin: 1rem 0;
}

.btn {
    padding: 1rem;
    border: none;
    font-weight: 600;
    font-size: 1.25;
    border-radius: .3 rem;
    color: lightyellow;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.btn-submit {
    background-color: steelblue;
}

.btn-delete {
    background-color: indianred;
}
